dist: bionic
language: python
jobs:
  include:
  - os: linux
    python: 3.6
    sudo: true
    env: 
      - BUILD=PYPI
  - os: linux
    python: 3.7
    sudo: true
  - os: linux
    python: 3.8
    sudo: true
install:
  - pip install -r requirements/test.txt
  - pip install pytest-cov
script:
  - flake8
  - pytest
after_success:
  - bash <(curl -s https://codecov.io/bash)


deploy:
  - provider: pypi
    skip_cleanup: true
    skip_existing: true
    user: __token__
    password:
      secure: dt7NiN/DqMtiAXikNaOUROtJUm2wr0Z2oE8QMAsBlOlAcUc9uHT4L2DOHnroocgiVIsRCMC+iTO+7KGogviRai5tv3niedjBx6TB5AyauOOvIIgxV9LjBDCQJmjRlqudmlmEupHO5F/WKIQFYZ2o1Wvb54cP5K16a2csktzlCS0Jkgf02Qm/eh0VHG0OGv849aEU12kdg3Ap6Tek+8vL1gtlOoTgN3Rn18nErxjZ5xC5uCSUnHbEkuyTgEN1uw4f0Ktb/f0iGuBc8wMjLhkp53lkNlLoiJg4/aIAJLfwopkNelUKsLriUhGXh7caDyIZAQxIATcJdoHUe6J4SMBZJ0K6nHHevagbmRjkHQvUvY8ANq7UUUSsItj8yyJPIZwif0A5ybIqmfhWjnfkyj/aW25tOSwrLyzdd96CHGKzCBVMBdmNoxKe0VjxvIBd4sVfJqtqsf+DNWduNVme9F8/RrFFUECX3LOKmYv4lB190bgUUs2wXMbSFVXuDuoaX3vrCHJ3ws0vOe3ZbGNS5k4FTL+DVTvSCIFy8IlVTTBZMZYZAJTo62UuCDyUjTh0wiaz3dBk0IcvLEIDcaEwfGuUSMEFCEF7FEqUpWIYRLF22HRgp4T/VbsEd6giZpMySyUTEwIG35l3EhHb1DZJX+vSfWk/HQcUGz29J0u9UY8d4U4=
    on:
      tags: true
      all_branches: true
      distributions: sdist
      condition: "$BUILD = PYPI"
      repo: cloudblue/connect-markdown-renderer
